/**
 * Admin interface styling
 */

.css-libraries th.checkbox {
  width: 50px;
}

.css-libraries th.name {
  width: 50%;
}

#css-libraries-custom tr.region-title td {
  font-weight: bold;
}
#css-libraries-custom tr.region-message {
  font-weight: normal;
  color: #999;
}
#css-libraries-custom tr.region-populated {
  display: none;
}
.library-region {
  background-color: #ff6;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 3px;
}

/* This rule hides the weight column when there are no custom libraries */
#css-libraries-custom.empty .library-weight {
  display: none;
}